.request {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 18px;
    margin-left: 10px;
}

input {
    display: block;
    width: 350px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 2px;
    margin-left: 12px;
}

button {
    margin-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
    border: none;
}

.destination {
    margin-bottom: 30px;
}
.request-button {
    color: white;
    background-color: black;
}