.container {
    position: relative;
    display: inline-block;
}

.image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.offer {
    position: absolute;
    top:15px;
    right: 0;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Arial;
}

.more {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.75);
}

button {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }