.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.left {
    display: flex;
    align-items: center;
}

.picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;

}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}


button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
    margin-right: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 6px;
}

.add {
    background-color: rgb(68, 95, 203);
    color: white;
    font-weight: bold;
}

.message {
    font-weight: bold;
    background-color: rgb(221, 221, 221);
}