.first {
    position: fixed;
    width: 100px;
    color: white;
    background-color: green;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    width: 300px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    border-radius: 10px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bold {
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.regular {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
}