.first-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 70px;
    background-color: rgb(27, 27, 27);
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 6px;
}

img {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    object-fit: cover;
}

.second-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 86px;
    width: 200px;
    background-color: rgb(42, 42, 42);
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 6px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 10px;
}

.add {
    font-size: 20px;
    font-weight: bold;
    color: rgb(160, 160, 160);
}

.info {
    font-weight: bold;
    font-size: 14px;
}

.text {
    font-size: 14px;
    margin-bottom: 16px;
    color: rgb(160, 160, 160);
}